<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>Project Index</title>
  </head>

<body>

<div class="topnav">
  <a class="active" href="/">Index</a>
  <a href="/login">Control Panel</a>
  <a href="/login_app">App</a>
</div>

<div class="center">
  <p><a href="/login">Click to login to control panel.</a></p>
  <p><a href="/login_app">Click to login to app.</a></p>
</div>

</body>
</html>
